/*CSS reset settings here*/
*{
    margin: 15px;
    padding: 0px;
   }
   #wrapper{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    display: inline-block;
   }
   #header{
    height: 150px;
    background-color: green;
    padding-top: 15px;
    padding-bottom: 10px;
    }
   #navigation{
    height: 300px;
    width: 220px;
    background-color: blue;
    display: inline-block;
    vertical-align: top;
    }
   #main_content{
    height: 400px;
    width: 670px;
    background-color: red;
    display: inline-block;
    margin-left: 10px;
    }
   .subcontents{
    height: 182px;
    width: 182px;
    background-color: yellow;
    display: inline-block;
    }
   #advertisement{
    height: 120px;
    width: 618px;
    background-color: purple;
    display: inline-block;
    }